<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta charset="UTF-8">
    <meta name="description" content="The Pomodoro timer where you can earn sweet little cats!">
    <meta name="keywords" content="Pomodoro, Timer, Pomodoro Timer, Cat Timer">
    <title>PomoNeko</title>
</head>
<body>
<div class="main_wrapper">
    <div class="centered_panel">
        <h1>Welcome to <b>PomoNeko</b>, the Pomodoro timer where you can earn sweet little cats!</h1>
        <p>Once you click on start, you will receive a unique URL. <b>Save it as a bookmark, otherwise you will lose your cats!</b></p>
        <a href="/new"><button>Start</button></a>
    </div>
</div>
<div class="footer">
    <a href="/imprint">Imprint & Privacy Policy</a>
</div>

</body>
</html>